table {
    border-collapse: collapse;
    width: auto;
}

table, tr, th, td {
    border: 1px solid black;
}

thead tr:first-child th {
    background-color: yellow;
    padding: 8px;
    font-weight: bold;
}

thead tr:last-child td {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
}

tbody tr td {
    background-color: white;
    padding: 8px;
}

tbody tr:hover {
    background-color: yellow;
    cursor: pointer;
}